<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="yszhh.wlgj.com.yunshangzhihui_android">

    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>
    <uses-permission android:name="android.permission.SEND_SMS"/>
    <!--<uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" ></uses-permission>-->
    <!--<uses-permission android:name="android.permission.CHANGE_WIFI_STATE" ></uses-permission>-->
    <!--<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" ></uses-permission>-->
    <!--<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" ></uses-permission>-->
    <!--<uses-permission android:name="android.permission.WAKE_LOCK" ></uses-permission>-->

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon_login"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.activity.LoginActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.activity.NewMainAcivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoBar"></activity>

        <activity
            android:name=".ui.activity.WebActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoBar"></activity>
        <activity
            android:name=".ui.activity.HtmlWebActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoBar"></activity>
        <activity
            android:name=".ui.activity.PersonalCenterActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoBar"></activity>

    </application>

</manifest>